{
    "extends": "airbnb",
    "env": {
      "jest": true,
      "browser": true,
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "max-len": 0
    }
}